@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #171717;
  overflow: hidden;
}

/* Esto fuerza al lienzo 3D a ocupar siempre el 100% del contenedor padre */
#dice-canvas canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

/* Transición suave para todos los cambios de color de fondo y texto */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Sombra por defecto (Modo Claro) */
.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Sombra para Modo Oscuro */
.dark .shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.7) !important;
}